<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/locationEdit.css">
    <title>Location Edit Page</title>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
        <h1>
            <%= location.locationName %> Page
        </h1>
        <hr>

        <!-- TODO: Create the form that PUTs to /inventorys/:id -->
        <!-- Need to have inputs for "title" and "content" -->
        <form method="POST" action="/locations/<%= location._id %>?_method=PUT">
            <div class="info">
                <label for="name">Name of Location:</label>
                <input type="text" name="locationName" value="<%= location.locationName %>">
                <br>
                <br>
                <label for="info">Address:</label>
                <input type="text" name="locationAddress" value="<%= location.locationAddress %>">
                <br>
                <br>
                <input type="submit">
            </div>
        </form>
</body>

</html>