<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Inventory Index</title>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
        <h1>All the Inventory</h1>
        <a href="/inventory/new">Add a new Inventory item</a>

        <ul>
            <% for (let i=0; i < allInventory.length; i++) { %>
                <li>
                    <div>
                        <div class="name">
                            <a href="/inventory/<%= allInventory[i]._id %>/edit">
                                <%= allInventory[i].itemName %>
                            </a>
                        </div>

                        <div class="info">
                            <p>
                                <%= allInventory[i].itemInfo %>
                            </p>

                            <a href="/inventory/<%= allInventory[i].itemLocation %>">
                                <p>
                                    <%= allInventory[i].itemLocation %>
                                </p>
                                <p>
                                    <%= allInventory[i].itemDestination %>
                                </p>
                            </a>
                        </div>

                        <div class="quantityCounter">
                            <form method="POST" action="/inventory/<%= allInventory[i]._id %>?_method=PUT">
                                <label for="quantity"> Volume of: <%= allInventory[i].itemName %></label>
                                <input type="number" min="0" 
                                oninput="if (this.value < allInventory[i].itemQuantity){
                                    return allInventory[i].itemQuantity
                                } else if (this.value >= allInventory[i].itemQuantity){
                                    return allInventory[i].itemQuantity == this.value
                                }"
                                name="itemQuantity" value="<%= allInventory[i].itemQuantity %>">
                                <input type="Submit" value='Import'>
                            </form>
                        </div>
                        <br>
                    </div>
                </li>
                <% } %>
        </ul>
</body>

</html>